@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #16161D;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    }

    a {
    font-weight: 500;
    text-decoration: inherit;
    }
    a:hover {
    color: #fff;
    }

    body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    }

    h1 {
    font-size: 3.2em;
    line-height: 1.1;
    }

    button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    }
    button:hover {
    border-color: #646cff;
    }
    button:focus,
    button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    }

    @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    }
}

@layer components {
    .App {
        @apply min-h-screen relative overflow-hidden;
        max-width: 100vw;
        background-size: 100%;
    }

    .innerLine {
        stroke-dasharray: 3700;
        stroke-dashoffset: 3700;
        animation: linegrow 1s 2.7s linear forwards;
    }
    .outerLine {
        stroke-dasharray: 5500;
        stroke-dashoffset: 5500;
        animation: linegrow 2s 3.2s linear forwards;
    }
    .triO {
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: linegrow .3s 3.2s linear forwards;
    }
    .triR {
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: linegrow .3s 3.7s linear forwards;
    }
    .triB {
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: linegrow .4s 4.2s linear forwards;
    }

    .proyect-card > * {
        transition: opacity 100ms ease-in;
    }
    .proyect-card-title {
        @apply text-4xl tracking-tighter font-bold flex text-neutral-300;
        transition: color 500ms;
    }
    .proyect-card-title span:nth-child(-n + 2) {
        margin-right: -3px;
    }
    .proyect-card-title span:nth-child(3) {
        margin-right: .5rem;
    }
    .card-image {
        @apply h-28 w-96 ml-20 -mt-4 relative transition-all;
        filter: grayscale(1) brightness(.5);
        transition-duration: 500ms;
        background-position: center;
        background-size: cover;
    }
    .provider-glitch {
        position: absolute;
        height: 100%;
        width: 100%;
        /* aspect-ratio: 4/1; */
        background: center / contain no-repeat url('https://res.cloudinary.com/dsyjj0sch/image/upload/v1659650791/PROVIDER_LOGO_glitch_aberration_kt2hyv.png');
    }
    .doghouse-logo {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    .doghouse-logo * {        
        position: absolute;
        height: 100%;
        width: auto;
    }
    .doghouse-logo img {        
        animation: dogspin infinite 130s linear;
    }

    .Home > section {
        @apply grid grid-cols-7 pl-32;
    }

    .blue {
        @apply text-sky-500;
    }
    .orange {
        @apply text-orange-500;
    }
    .red {
        @apply text-rose-500;
    }
    .green {
        @apply text-emerald-500;
    }

    .frame {
        border-radius: 100%;        
        height: 30rem;
        aspect-ratio:1/1;
    }
    .middleline {
        border-top-left-radius: 97%;
        border-bottom-right-radius: 97%;
    }
    .outerline {
        border-top-left-radius: 85%;
        border-bottom-right-radius: 85%;
    }
    .avatar {        
        background-image: url('./assets/avatar/avatar-dots-V3.png');        
        background-size: 110%;
        background-position: 50% 20%;
        filter: drop-shadow(0px 0px 20px rgba(28, 241, 166, 0.1));
    }

    .hologram {
        @apply p-8 text-xl font-light text-transparent bg-gradient-to-b from-transparent via-emerald-700 to-emerald-500 bg-clip-text animate-pulse relative;
        font-family: 'PT Mono', monospace;
        filter: drop-shadow(50px 50px 40px rgb(28, 241, 166)) blur(0px);
        min-width: 30rem;
    }
    .angle {
        transform: rotateY(30deg) skewX(-30deg) scale(.9);
    }
    /* text-transparent bg-gradient-to-b from-transparent via-lime-600 to-lime-500 bg-clip-text  */
    .hologram > p {
        z-index: 1;
        white-space: break-spaces;
    }
    .hologram > p:last-child {
        @apply mt-8 h-10;
    }
    .hologram-dots {
        position: absolute;
        inset: 0;
        z-index: 3;
        background: radial-gradient(
            rgba(28, 241, 166, 0.5) 5%, transparent 2%
        );
        background-position: 0% 0%;
        background-size: 2vmin 2vmin;
        height: 100%;
        width: 100%;
    }
    
    .slider-circles > div {
        @apply h-96 aspect-square absolute -top-36 left-40 border;
        border-radius: 100%;
        animation: blobing 15s ease infinite;
    }

    .blobing {
        border-radius: 100%;
        animation: 16s blobing .25s ease infinite;
    }

    .days-grid {
        display: grid;
        gap: 4px;
        grid-template-rows: repeat(7, 12px);

        grid-auto-flow: column;
        grid-auto-columns: 12px;

        filter: drop-shadow(15px 15px 10px rgba(28, 241, 166, .5));
    }
    .days-grid div {
        @apply border border-green-900/50;
        border-radius: 100%;
        height: 12px;
        width: 12px;
    }
    .days-grid div[data-level='1'] {
        @apply border-0 bg-emerald-500/30;
    }
    .days-grid div[data-level='2'] {
        @apply border-0 bg-emerald-500/60;
    }
    .days-grid div[data-level='3'] {
        @apply border-0 bg-emerald-500;
    }

    .chart-text {
        @apply absolute top-0 -left-16 text-2xl font-extrabold tracking-tighter text-emerald-900;
        font-family: 'PT Mono', monospace;
    }

    .contact-hologram {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .contact-holo {
        @apply relative font-light text-transparent bg-gradient-to-b from-transparent via-emerald-700 to-emerald-500 bg-clip-text animate-pulse;
        
        height: 22rem;
        aspect-ratio:1/1;
        
        font-family: 'Courier Prime', monospace;
        line-height: 70%;
        letter-spacing: .1em;
        font-size: 1.2em;
        white-space: break-spaces;

        filter: drop-shadow(50px 50px 40px rgb(28, 241, 166));
    }    

    .contact-section {
        height: 80vh;
    }
    .footer {
        height: 20vh;
    }

    .fade-in {
        animation: fadein .3s ease-in forwards;
    }
    .side-fade-in {
        opacity: 0;
        animation: sidefadein 4s cubic-bezier(0.25, 1, 0.5, 1) infinite;
    }
    .x-fade-in {
        opacity: 0;
        animation: .3s fadein .5s ease-in forwards;
    }
    .fade-out {
        @apply transition-all;
        opacity: 0;
        animation: .3s fadeout ease forwards;
    }
}

@keyframes linegrow {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    to {
        opacity: 0;
    }
}

@keyframes sidefadein {
    0% {
        opacity: 0;
        scale: .5;
        right: -10%;
    }

    10% {
        scale: 1;
        right: 0%;
    }
    28% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blobing {
    0% {
        border-top-right-radius: 65%;
        border-top-left-radius: 170%;
        border-bottom-right-radius: 170%;
        border-bottom-left-radius: 70%;
    }
    
    25% {
        border-top-right-radius: 60%;
        border-top-left-radius: 70%;
        border-bottom-right-radius: 60%;
        border-bottom-left-radius: 60%;
        transform: rotate(-45deg) scale(.9);
    }
    
    50% {
        border-top-right-radius:20%;
        border-top-left-radius:20%;
        border-bottom-right-radius:20%;
        border-bottom-left-radius:20%;
    }

    55% {        
        transform: rotate(135deg) scale(1);
    }

    75% {
        border-radius: 60%;
        transform: rotate(180deg) scale(.8);
    }

    100% {
        border-top-right-radius: 65%;
        border-top-left-radius: 170%;
        border-bottom-right-radius: 170%;
        border-bottom-left-radius: 70%;
        transform: scale(1);
    }
}

@keyframes dogspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}